.app {
  
}

.section {
  background-color: var(--theme-background);
}

.parallax-window {
  height: 40px;
}

.scroll-button {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .scroll-button {
    transition: all 0.5s;
  }

  .scroll-button:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
  }
}