.app {
  background-image: url('../assets/background.png');
  background-repeat: repeat;
  background-position-x: center;
  background-size: 1920px;
}

.section {
  background-color: var(--theme-background);
}

.scroll-button {
  display: flex;
  justify-content: center;
}

.resume-download {
  display: flex;
  align-items: center;
  border: 2px solid var(--theme-red);
  border-radius: 20px;
  padding: 2px 2px 2px 9px;
  margin: 3px 10px 0px 5px;
  cursor: pointer;
}

.resume-download:hover {
  background-color: var(--theme-background-light);
  color: var(--theme-light-red);
}

@media screen and (min-width: 500px) {
  .scroll-button {
    transition: all 0.5s;
  }

  .scroll-button:hover {
    transform: scale(1.2);
    filter: brightness(1.5);
  }
}