.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 300px;
  min-height: 300px;
  background: var(--theme-background-light);
  color: var(--theme-red);
}

.card-title {
  color: var(--theme-yellow);
  text-align: center;
  font-family: 'Playfair Display', "Times New Roman", Times, serif;
  font-size: 1.7rem;
  padding: 10px;
}

.card-image {
  width: 100%;
}

.card-content {
  font-size: 1.2rem;
}

.two-column {
  column-count: 2;
}

.two-column div {
  text-align: center;
  overflow: hidden;
  word-wrap: unset;
  word-break: keep-all;
}

.card a {
  height: 0px;
  margin-top: -50px;
  margin-bottom: -50px;
}