.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 280px;
  padding: 10px;
  background: var(--theme-background-light);
  color: var(--theme-red);
  box-shadow: 0px 0px 10px 5px #060316;
}

.card-title {
  color: var(--theme-yellow);
  text-align: center;
  font-size: 1.7rem;
  padding: 10px;
}

.card-image {
  animation: fadeIn 1.5s;
  transition: all 0.6s;
}

.projects-tab .card-image:hover {
  filter: drop-shadow(0px 0px 10px var(--theme-red));
  transform: scale(1.2);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  padding: 5px;
  text-align: center;
}

.two-column {
  column-count: 2;
}

.two-column div {
  text-align: center;
  overflow: hidden;
  word-wrap: unset;
  word-break: keep-all;
}

.card a {
  height: 0px;
  margin-top: -50px;
  margin-bottom: -50px;
}

@keyframes fadeIn {
  0%, 20% { opacity: 0 }
  100% { opacity: 1 }
}