.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link-icon {
  padding: 10px 7px 7px 7px;
  height: 30px;
}

.header-container img:hover {
  filter: brightness(1.3);
}