@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Playfair+Display&display=swap');

:root {
  --theme-background: #0b0627;
  --theme-background-light: #191142;
  --theme-background-highlight: #473e77;
  --theme-red: #e65045;
  --theme-light-red: #f08078;
  --theme-yellow: #CCB735;
  --theme-green: #46af93;
  --theme-beige: #e4d9b9;
  
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--theme-red);
}

body {
  margin: 0;
}
