.menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', "Times New Roman", Times, serif;
}

.tile-wrapper {
  position: relative;
  display: inline-block;
  margin: 6px;
  transition: top 1s;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  padding: 5px;
  position: relative;
  font-size: 1.4rem;
  background-color: var(--theme-background-light);
  cursor: pointer;
  user-select: none;
  transition: background-color 0.75s;
  box-shadow: 0px 0px 10px 5px #060316;
}

.tile:hover {
  background-color: var(--theme-background);
}

.tile.selected {
  background-color: var(--theme-background);
}

.tile-stripe {
  background-color: var(--theme-green);
  position: absolute;
}

.tile.selected .tile-stripe {
  background-color: var(--theme-yellow);
}

.menu-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.6s; 
}

.menu-background {
  display: none;
  position: absolute;
  transition: all 1s;
  width: 100%;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.6s; 
}

.menu-content-header {
  color: var(--theme-beige);
  padding: 15px;
}

.up-caret {
  margin-top: 50px;
}

.shuffle-button {
  position: relative;
}

.shuffle-button img{
  width: 30px;
  transition: transform 0.6s;
}

.shuffle-button img:hover{
  transform: scale(1.4);
  filter: brightness(2);
}

.connect-tab {
  font-size: 1.6rem;
}

.connect-tab div {
  padding: 20px 0px 10px 0px;
}

.connect-tab .resume-download {
  margin: 20px 0px 10px;
  padding: 5px;
}

@media screen and (min-width: 520px) {
  .tile {
    width: 120px;
    height: 120px;
    font-size: 1.7rem;
    padding: 10px;
  }

  .tile-wrapper {
    margin: 10px;
  }
}

@media screen and (min-width: 960px) {
  .menu-container {
    min-height: 600px;
  }

  .menu-background {
    display: flex;
  }

  .menu-content-container {
    animation: fadeIn 1.5s; 
  }
}

@keyframes fadeIn {
  0%, 20% { opacity: 0 }
  100% { opacity: 1 }
}